<div class="instructions">
    <h2>Instructions</h2>
    For each item below,
    <ol>
        <li>read all text carefully</li>
        <li>judge: which translation expresses the meaning of the source text more adequately?</li>
        <li>add your judgement to the online spreadsheet (link sent to you via email). Valid judgements are:
        <ul>
            <li><b>A</b> translation A is better than B</li>
            <li><b>B</b> translation B is better than A</li>
            <li><b>X</b> same quality</li>
        </ul>
        </li>
    </ol>
</div>
